$main-background: #FAFBFE;
$component-background: #FEFEFE;

$investment-background: #F6FAF8;
$investment-border-color: #B7E6CF; 
$income-background: #F8FAFD;
$income-border-color: #B5CAEA; 
$expenditures-background: #FDF9F6;
$expenditures-border-color: #F2BF99;