.icon-20px {
    width: 20px;
    height: 20px;
}

.icon-25px {
    width: 25px;
    height: 25px;
}

.icon-40px {
    width: 40px;
    height: 40px;
}

.icon-50px {
    width: 50px;
    height: 50px;
}

.icon-60px {
    width: 60px;
    height: 60px;
}

.icon-80px {
    width: 80px;
    height: 80px;
}