<nav>
    <button class="domain-btn investment-btn" routerLink="/dashboard/investments">
        <img class="btn-icon" src="assets/icons/investment_icon.png" alt="investment-button-icon" >
    </button>
    <button class="domain-btn income-btn" routerLink="/dashboard/income">
        <img class="btn-icon" src="assets/icons/income_icon.png" alt="income-button-icon">
    </button>
    <button class="domain-btn expenditures-btn" routerLink="/dashboard/expenditures">
        <img class="btn-icon" src="assets/icons/expenditures_icon.png" alt="expenditures-button-icon">
    </button>
</nav>