@mixin customize-background-border($background, $border-width, $border-color, $radius) {
    background-color: $background;
    border: $border-width solid $border-color;
    border-radius: $radius;
}