<div class="top-block">
    <div class="title-block">
        <p class="title">Investments</p>
        <p class="grey-title">Manage your portfolio and track performance</p>
    </div>
</div>
<div class="bottom-block">
    <div class="left-part">
        <app-portfolio-overview-component
          [portfolioTotalValue$]="portfolioTotalValue$"
        ></app-portfolio-overview-component>
        <app-investments-preview-component
          (viewAllOpened)="handleViewAllVisibility($event)"
          [investmentSummaries$]="investmentSummaries$"
        ></app-investments-preview-component>
    </div>
    <app-add-investments-preview-component
        (formOpened)="handleFormVisibility($event)"
        (selectedEvent)="handleInvestmentCategory($event)"
    ></app-add-investments-preview-component>
</div>
@if (isFormOpened) {
  @switch (investmentSelected) {
    @case ('STOCK') {
      <stock-investment-form
        (cancelled)="handleFormVisibility($event)"
        (stockSaved)="handleInvestmentSubmitted($event)"
      ></stock-investment-form>
    }

    @case ('ETF') {
      <etf-investment-form
        (cancelled)="handleFormVisibility($event)"
        (etfSaved)="handleInvestmentSubmitted($event)"
      ></etf-investment-form>
    }

    @case ('CRYPTO') {
      <crypto-investment-form
        (cancelled)="handleFormVisibility($event)"
        (cryptoSaved)="handleInvestmentSubmitted($event)"
      ></crypto-investment-form>
    }

    @case ('COMMODITY') {
      <commodity-investment-form
        (cancelled)="handleFormVisibility($event)"
        (commoditySaved)="handleInvestmentSubmitted($event)"
      ></commodity-investment-form>
    }

    @case ('BOND') {
      <bond-investment-form
        (cancelled)="handleFormVisibility($event)"
        (bondSaved)="handleInvestmentSubmitted($event)"
      ></bond-investment-form>
    }

    @case ('CASH') {
      <cash-investment-form
        (cancelled)="handleFormVisibility($event)"
        (cashSaved)="handleInvestmentSubmitted($event)"
      ></cash-investment-form>
    }
  }
}
@if (isViewAllOpened) {
  <app-view-all-component
  [investmentSummaries$]="investmentSummaries$"
  (closed)="handleViewAllVisibility($event)"
  (deletedInvestment)="handleInvestmentDeleted($event)"
  ></app-view-all-component>
}