@use '../../../shared/styles/mixins/position';
@use '../../../shared/styles/variables/colors';

.icon-background {
    @include position.fully-centered-content;
    width: 50px;
    height: 50px;
    border-radius: 13px;
    background-color: colors.$component-border-color;
    flex-shrink: 0
}

.icon-background.HOUSING {
    background-color: #fff4ec;
}

.icon-background.FOOD {
    background-color: #eaf0f8;
}

.icon-background.TRANSPORTATION {
    background-color: #dff6ea;
}

.icon-background.ENTERTAINMENT {
    background-color: #fbf5db;
}

.icon-background.UTILITIES {
    background-color: #ece5f7;
}

.icon-background.HEALTHCARE {
    background-color: #fceaee;
}

.icon-background.EDUCATION {
    background-color: #e8fbfc;
}

.icon-background.SHOPPING {
    background-color: rgba(205, 221, 255, 0.607);
}

.icon-background.OTHER {
    background-color: rgb(243, 243, 243);
}