@mixin customize-background-border($background, $border-width, $border-color, $radius, $type: solid) {
    background-color: $background;
    border: $border-width $type $border-color;
    border-radius: $radius;
}