$main-background: #FAFBFE;
$component-background: #FEFEFE;
$component-border-color: #e8e6e6;

$investment-background: #F6FAF8;
$investment-border-color: #B7E6CF; 
$income-background: #F8FAFD;
$income-border-color: #B5CAEA; 
$expenditures-background: #FDF9F6;
$expenditures-border-color: #F2BF99;

$orange: #ff7f2f;
$lightorange: #ffb81f;
$green: #36d181;
$blue: #4292f9;
$purple: #9a5ff8;
$pink: #fa456c;
$grey: grey;