<footer>
    <div class="footer-left-div">
        <img class="data-protection-icon" src="/assets/icons/shield.png" alt="data-protection-icon">
        <div class="footer-left-text">
            <p class="footer-text">© 2026 Devo. All rights reserved</p>
            <p class="footer-text delimiter">|</p>
            <p class="footer-text">Empowering your financial future.</p>
        </div>
    </div>
    <div class="footer-right-div">
        <p class="footer-text">Data updated: June 24, 2026 00:30</p>
        <div class="update-status-icon"></div>
    </div>
</footer>