<main>
    <div class="domain investments-domain">
        <div class="icon-div">
            <img class="domain-icon" src="/assets/icons/investment_icon.png" alt="investments-icon">
        </div>
        <p class="domain-title investments-title">Investments</p>
        <button class="domain-btn investments-btn">
            <img class="arrow-icon" src="/assets/icons/green_arrow.png" alt="investment-button-icon">
        </button>
    </div>
    <div class="domain income-domain">
        <div class="icon-div">
            <img class="domain-icon" src="/assets/icons/income_icon.png" alt="income-icon">
        </div>
        <p class="domain-title income-title">Income</p>
        <button class="domain-btn income-btn">
            <img class="arrow-icon" src="/assets/icons/blue_arrow.png" alt="investment-button-icon">
        </button>
    </div>
    <div class="domain expenditures-domain">
        <div class="icon-div">
            <img class="domain-icon" src="/assets/icons/expenditures_icon.png" alt="expenditures-icon">
        </div>
        <p class="domain-title expenditures-title">Expenditures</p>
        <button class="domain-btn expenditures-btn">
            <img class="arrow-icon" src="/assets/icons/orange_arrow.png" alt="investment-button-icon">
        </button>
    </div>
</main>