<div class="spendings-block">
    <p class="component-title text">Spending by Category</p>
    <div class="spendings-categories-block">
        @for (category of displayedCategoriesSummary$ | async; track category.category) {
            <div class="spending-category">
                <div 
                    class="icon-background"
                    [class]="category.category"
                >    
                    <img 
                        class="icon-40px"
                        [src]="expenditureIcons[category.category]" 
                        [alt]="category.category + '-icon'"
                    >       
                </div>
                <div class="spending-title-block">
                    <p class="spending-title text">{{ category.category | capitalLetterPipe }}</p>
                </div>
                <div class="spending-progress-block">
                    <span class="progress-percent text">{{ calculatePercentFromBudget(category.totalAmount) | percent }}</span>
                    <div class="progress-bar-block">
                        <div 
                            class="progress-bar"
                            [class]="category.category"
                            [style.width.%]="calculatePercentWidth(category.totalAmount)"
                        ></div>
                    </div>
                </div>
                <div class="spending-value-block">
                    <p class="spending-value text">{{ category.totalAmount | currency: 'EUR' : 'symbol-narrow' : '2.2-2' }}</p>
                </div>
            </div>
        }
    </div>
</div>