<div class="spendings-block">
    <p class="component-title text">Spending by Category</p>
    <div class="spendings-categories-block">
        <div class="spending-category">
            <div class="icon-background housing">
                <img class="icon-40px" src="assets/category_icons/housing.png" alt="housing-icon">
            </div>
            <div class="spending-title-block">
                <p class="spening-title text">Housing</p>
            </div>
            <div class="spending-progress-block">
                <span class="progress-percent text">52.5%</span>
                <div class="progress-bar-block">
                    <div class="progress-bar housing"></div>
                </div>
            </div>
            <div class="spending-value-block">
                <p class="spending-value text">&euro; 1,680.00</p>
            </div>
        </div>
        <div class="spending-category">
            <div class="icon-background food">
                <img class="icon-40px" src="assets/category_icons/food.png" alt="housing-icon">
            </div>
            <div class="spending-title-block">
                <p class="spening-title text">Food & Dining</p>
            </div>
            <div class="spending-progress-block">
                <span class="progress-percent text">20.3%</span>
                <div class="progress-bar-block">
                    <div class="progress-bar food"></div>
                </div>
            </div>
            <div class="spending-value-block">
                <p class="spending-value text">&euro; 860.50</p>
            </div>
        </div>
        <div class="spending-category">
            <div class="icon-background transportation">
                <img class="icon-40px" src="assets/category_icons/transportation.png" alt="housing-icon">
            </div>
            <div class="spending-title-block">
                <p class="spening-title text">Transportation</p>
            </div>
            <div class="spending-progress-block">
                <span class="progress-percent text">12.7%</span>
                <div class="progress-bar-block">
                    <div class="progress-bar transportation"></div>
                </div>
            </div>
            <div class="spending-value-block">
                <p class="spending-value text">&euro; 540.00</p>
            </div>
        </div>
        <div class="spending-category">
            <div class="icon-background utilities">
                <img class="icon-40px" src="assets/category_icons/utilities.png" alt="housing-icon">
            </div>
            <div class="spending-title-block">
                <p class="spening-title text">Utilities</p>
            </div>
            <div class="spending-progress-block">
                <span class="progress-percent text">7.5%</span>
                <div class="progress-bar-block">
                    <div class="progress-bar utilities"></div>
                </div>
            </div>
            <div class="spending-value-block">
                <p class="spending-value text">&euro; 320.00</p>
            </div>
        </div>
        <div class="spending-category">
            <div class="icon-background health">
                <img class="icon-40px" src="assets/category_icons/health.png" alt="housing-icon">
            </div>
            <div class="spending-title-block">
                <p class="spening-title text">Health & Fitness</p>
            </div>
            <div class="spending-progress-block">
                <span class="progress-percent text">6.0%</span>
                <div class="progress-bar-block">
                    <div class="progress-bar health"></div>
                </div>
            </div>
            <div class="spending-value-block">
                <p class="spending-value text">&euro; 255.25</p>
            </div>
        </div>
        <div class="spending-category">
            <div class="icon-background other">
                <img class="icon-40px" src="assets/category_icons/other.png" alt="housing-icon">
            </div>
            <div class="spending-title-block">
                <p class="spening-title text">Other</p>
            </div>
            <div class="spending-progress-block">
                <span class="progress-percent text">5.0%</span>
                <div class="progress-bar-block">
                    <div class="progress-bar other"></div>
                </div>
            </div>
            <div class="spending-value-block">
                <p class="spending-value text">&euro; 215.00</p>
            </div>
        </div>
    </div>
</div>