@use '../../../shared/styles/variables/dimensions';
@use '../../../shared/styles/variables/colors';
@use '../../../shared/styles/variables/fonts';
@use '../../../shared/styles/mixins/shadows';
@use '../../../shared/styles/mixins/position';
@use '../../../shared/styles/mixins/custom';
@use '../../../shared/styles/typography';

$income-component-padding: 30px;
$overview-block-height: 250px;

:host {
    @include custom.customize-background-border(colors.$component-background, 0, transparent, dimensions.$border-radius);
    @include position.custom-positioning(column, space-between, space-between);
    @include shadows.shadow;
    box-sizing: border-box;
    padding: $income-component-padding;
    width: 100%;
    height: 100%;
    row-gap: 30px;
}

.titles {
    font-size: 40px;
    font-weight: 700;
}

.overview-block {
    @include position.custom-positioning(row, space-between, space-between);
    column-gap: 20px;
    width: 100%;
    max-height: $overview-block-height;
    height: 100%;
}

.overview-block > * {
  flex-grow: 1;
}

.add-btn {
    @include custom.customize-background-border(transparent, 1px, colors.$component-border-color, 13px);
    @include position.custom-positioning(row, center, center);
    box-sizing: border-box;
    height: 55px;
    cursor: pointer;

    transition: background-color 200ms ease, border 200ms ease;
}

.add-btn:hover {
    border: transparent solid 1px;
    background-color: #bad3f6;
}

.add-btn-plus {
    height: 30px;
}

.add-btn-text {
    @include fonts.customize-text($text-color: #3086e1, $size: 20px, $weight: 700);
    margin-left: 15px;
}