<div class="form-layout">
    <div class="title-block">
        <p class="titles">Add Expense</p>
        <p class="grey-title">Log a new spending transaction</p>
    </div>
    <form [formGroup]="addExpenseForm">
        <div class="fields-flexbox">
            <div class="field-block">
                <label>Expense Name</label>
                <input formControlName="expenseName" placeholder="e.g., Gold">    
            </div>
            <div class="field-block">
                <label>Category</label>
                <select
                    formControlName="category"
                    name="select-category"
                    id="select-category"
                >
                    <option value="" disabled>Select category</option>
                    <option
                        *ngFor="let category of categories"
                        [value]="category.value"
                        >
                        {{ category.label }}
                    </option>
                </select>
            </div>
            <div class="field-block">
                <label>Amount</label>
                <input min="0" max="10000" type="number" formControlName="amount" placeholder="0.00">
            </div>
            <div class="field-block">
                <label>Date</label>
                <input type="date" formControlName="expenseDate">
            </div>
            <div class="field-block">
                <label>Payment Method</label>
                <select 
                    formControlName="paymentMethod"
                    name="select-method"
                    id="select-method"
                >
                    <option value="" disabled>Select payment method</option>
                    <option
                        *ngFor="let method of paymentMethods"
                        [value]="method.value"
                        >
                        {{ method.label }}
                    </option>
                </select>
            </div>
            <div class="field-block">
                <label>Merchant / Vendor</label>
                <input type="text" formControlName="merchant" placeholder="e.g., Kaufland">
            </div>
            <div class="receipt-block">
                <label>Upload receipt <span class="optional">(optional)</span></label>
                <div class="receipt-upload">
                    <input formControlName="receipt" type="file" accept=".jpg,.jpeg,.png,.pdf" name="receipt-input" id="receipt-input">
                </div>
            </div>
            <div class="field-block note-block">
                <label>Notes <span class="optional">(optional)</span></label>
                <textarea 
                    formControlName="notes"
                    placeholder="Add any additional notes about this expense..."
                    maxlength="100"
                ></textarea>
            </div>
        </div>
    </form>
    <div class="buttons-block">
        <button class="cancel-btn" (click)="onCancel()">Cancel</button>
        <button class="add-btn white-text " (click)="onSubmit()">Save</button>
    </div>
</div>

