@use '../../../shared/styles/mixins/shadows';
@use '../../../shared/styles/mixins/position';
@use '../../../shared/styles/variables/dimensions';

$layout-height: 1000px;
$layout-padding: 10px;

:host {
    width: 100%;
    display: flex;
    justify-content: center;

    margin: dimensions.$component-margin 0px;
}

.navigation-layout {
    @include position.horizontally-centered-content;

    width: 100%;
    height: $layout-height;
    max-width: (dimensions.$maximum-width - (2 * $layout-padding));
    column-gap: 10px;
}