@use '../../../shared/styles/mixins/shadows';
@use '../../../shared/styles/mixins/position';
@use '../../../shared/styles/variables/dimensions';

$layout-height: 1000px;
$layout-padding: 10px;

:host {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: dimensions.$maximum-width;
}

.navigation-layout {
    @include position.horizontally-centered-content;
    box-sizing: border-box;
    width: 100%;
    max-width: dimensions.$maximum-width;
    height: $layout-height;
    column-gap: 10px;
}