<div class="transactions-block">
    <div class="component-title-block">
        <p class="component-title text">Recent Transactions</p>
        <button class="view-all-btn">
            <span class="orange-text">View all</span>
        </button>
    </div>
    <div class="transactions-list">
        <div class="transaction">
            <div class="icon-background housing">
                <img class="icon-40px" src="assets/category_icons/housing.png" alt="housing-icon">
            </div>
            <div class="transaction-title-block">
                <p class="transaction-title text">Rent</p>
                <span class="transaction-date grey-text">August 03, 2026</span>
            </div>
            <div class="transaction-category-block">
                <div class="transaction-category housing">
                    <span class="orange-text">Housing</span>
                </div>
            </div>
            <div class="transaction-value-block">
                <p class="transaction-value orange-text">&ndash; &euro; 480.00</p>
                <button class="transaction-details-btn">
                    <img class="details-icon icon-20px" src="assets/icons/grey_arrow.png" alt="transaction-details-icon">
                </button>
            </div>
        </div>
        <div class="transaction">
            <div class="icon-background transportation">
                <img class="icon-40px" src="assets/category_icons/transportation.png" alt="housing-icon">
            </div>
            <div class="transaction-title-block">
                <p class="transaction-title text">Taxi</p>
                <span class="transaction-date grey-text">August 03, 2026</span>
            </div>
            <div class="transaction-category-block">
                <div class="transaction-category transportation">
                    <span class="green-text">Transportation</span>
                </div>
            </div>
            <div class="transaction-value-block">
                <p class="transaction-value orange-text">&ndash; &euro; 20.00</p>
                <button class="transaction-details-btn">
                    <img class="details-icon icon-20px" src="assets/icons/grey_arrow.png" alt="transaction-details-icon">
                </button>
            </div>
        </div>
        <div class="transaction">
            <div class="icon-background health">
                <img class="icon-40px" src="assets/category_icons/health.png" alt="housing-icon">
            </div>
            <div class="transaction-title-block">
                <p class="transaction-title text">Gym</p>
                <span class="transaction-date grey-text">August 03, 2026</span>
            </div>
            <div class="transaction-category-block">
                <div class="transaction-category health">
                    <span class="pink-text">Health & Fitness</span>
                </div>
            </div>
            <div class="transaction-value-block">
                <p class="transaction-value orange-text">&ndash; &euro; 50.00</p>
                <button class="transaction-details-btn">
                    <img class="details-icon icon-20px" src="assets/icons/grey_arrow.png" alt="transaction-details-icon">
                </button>
            </div>
        </div>
        <div class="transaction">
            <div class="icon-background entertainment">
                <img class="icon-40px" src="assets/category_icons/entertainment.png" alt="housing-icon">
            </div>
            <div class="transaction-title-block">
                <p class="transaction-title text">Airsoft</p>
                <span class="transaction-date grey-text">August 01, 2026</span>
            </div>
            <div class="transaction-category-block">
                <div class="transaction-category entertainment">
                    <span class="lightorange-text">Entertainment</span>
                </div>
            </div>
            <div class="transaction-value-block">
                <p class="transaction-value orange-text">&ndash; &euro; 30.00</p>
                <button class="transaction-details-btn">
                    <img class="details-icon icon-20px" src="assets/icons/grey_arrow.png" alt="transaction-details-icon">
                </button>
            </div>
        </div>
        <div class="transaction">
            <div class="icon-background utilities">
                <img class="icon-40px" src="assets/category_icons/utilities.png" alt="housing-icon">
            </div>
            <div class="transaction-title-block">
                <p class="transaction-title text">Utilities</p>
                <span class="transaction-date grey-text">August 02, 2026</span>
            </div>
            <div class="transaction-category-block">
                <div class="transaction-category utilities">
                    <span class="purple-text">Utilities</span>
                </div>
            </div>
            <div class="transaction-value-block">
                <p class="transaction-value orange-text">&ndash; &euro; 90.00</p>
                <button class="transaction-details-btn">
                    <img class="details-icon icon-20px" src="assets/icons/grey_arrow.png" alt="transaction-details-icon">
                </button>
            </div>
        </div>
    </div>
</div>