@use '../../../shared/styles/mixins/position';
@use '../../../shared/styles/mixins/custom';
@use '../../../shared/styles/variables/time';
@use '../../../shared/styles/variables/colors';
@use '../../../shared/styles/variables/dimensions';

$navigation-width: 120px;
$navigation-padding: 10px;
$nav-btn-dimension: 100px;

:host {
    width: $navigation-width;
    height: 100%;
    max-width: ($navigation-width - (2 * $navigation-padding));
    
    display: flex;
    justify-content: center;
}

nav {
    @include position.vertically-centered-content;
    @include custom.customize-background-border(colors.$component-background, 0px, transparent, dimensions.$border-radius);
    justify-content: start;
    row-gap: 10px;

    padding: $navigation-padding;
}

.domain-btn {
    width: $nav-btn-dimension;
    height: $nav-btn-dimension;

    cursor: pointer;
    transition: background-color time.$transition-time;
}

.investment-btn {
    @include custom.customize-background-border(colors.$investment-background, 1px, colors.$investment-border-color, 20px);
}

.investment-btn:hover {
    background-color: colors.$investment-border-color;
}

.income-btn {
    @include custom.customize-background-border(colors.$income-background, 1px, colors.$income-border-color, 20px);
}

.income-btn:hover {
    background-color: colors.$income-border-color;
}

.expenditures-btn {
    @include custom.customize-background-border(colors.$expenditures-background, 1px, colors.$expenditures-border-color, 20px);
}

.expenditures-btn:hover {
    background-color: colors.$expenditures-border-color;
}

.btn-icon {
    height: 65px;
}